html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins;
  line-height :20.02px;
letter-spacing :0.15px;
font-weight:400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
